@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --black: #000000;
    --grey1: #080808;
    --grey2: #191919;
    --grey3: #2a2a2a;
    --grey4: #444444;
    --grey5: #555555;
    --grey6: #7a7a7a;
    --grey7: #aaaaaa;
    --grey8: #cccccc;
    --white: #dddddd;
    --error: #d70000;
    --warn: #ffaa88;
    --special: #789978;
    --hint: #7788aa;
    --lack: #708090;
    --luster: #deeeed;

    --text-color: var(--black);
    --bg-color: var(--white);

    font-family: "JetBrains Mono", monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--white);
        --bg-color: var(--black);
    }
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0% 20%;
    line-height: 1.8;
    font-size: 16px;
}

header {
    margin: 3vh 0vh;
}

footer {
    margin: 3vh 0vh;
    text-align: center;
    color: var(--grey8);
}

h1 {
    font-size: 2em;
    margin: 0.67em 0em;
    font-weight: 800;
    
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0em;
    font-weight: 800;
}

p {
    margin: 1em 0em;
}

a {
    color: var(--grey5);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

i {
    font-style: italic;
}